---
layout: base.njk
title: Физическа охрана и видеонаблюдение
description: Професионална физическа охрана на търговски обекти, училища, банки, складове и строежи в Стара Загора. Видеонаблюдение като бонус при охрана на обект.
---
{% include "sections/home-hero.njk" %}
{% include "sections/home-trust.njk" %}
{% include "sections/home-services.njk" %}
{% include "sections/home-about.njk" %}
{% include "sections/home-why.njk" %}
{% include "sections/home-process.njk" %}
{% include "sections/home-cta.njk" %}
